.default {
    font-family: 'njnaruto';
    font-size: 4rem;
    color: black;
    text-align: center;
    padding: 7%;
}

.black {
    color: black;
}

@media (max-width: 960px) {
    .default {
        font-size: 3rem;
        padding: 7%;
    } 
}

@media (max-width: 620px) {
    .default {
        font-size: 3rem;
        padding: 7%;
    } 
}