/* @import "font-face";
@import url(//db.onlinewebfonts.com/c/73fedd912ba11f583a359ce4c2e742ed?family=Ninja+Naruto);
@include font-face('Ninja Naruto', 100, normal);

@font-face {
    font-family: "Ninja Naruto"; 
    src: url("//db.onlinewebfonts.com/t/73fedd912ba11f583a359ce4c2e742ed.eot"); 
    src: url("//db.onlinewebfonts.com/t/73fedd912ba11f583a359ce4c2e742ed.eot?#iefix") format("embedded-opentype"), 
        url("//db.onlinewebfonts.com/t/73fedd912ba11f583a359ce4c2e742ed.woff2") format("woff2"), 
        url("//db.onlinewebfonts.com/t/73fedd912ba11f583a359ce4c2e742ed.woff") format("woff"), 
        url("//db.onlinewebfonts.com/t/73fedd912ba11f583a359ce4c2e742ed.ttf") format("truetype"), 
        url("//db.onlinewebfonts.com/t/73fedd912ba11f583a359ce4c2e742ed.svg#Ninja Naruto") format("svg"); 
} */

body {
    /* font-family: 'Seaweed Script', cursive; */
    font-family: 'njnaruto';
    font-size: 48px;
    padding: 5%;
}

@media (max-width: 960px) {
    .default {
        /* padding: 5%; */
        margin-top:5%;
    } 
}

@media (max-width: 620px) {
    .default {
        /* padding: 50% 5% 5% 5%; */
        margin-top:5%;
    } 
}

@media (max-width: 360px) {
    .default {
        margin-top:60%;
    } 
}